body {

  background-color: rgb(226, 235, 239);
  
}

.book-container {

  text-align: center;
  padding: 30px
}

.details {

  list-style: none;
  padding: 20px
}
  
.home {

  list-style: none;
}

.bookentry {

  text-align: center;
}

h1 {

  text-align: center;
}

form.form-inline input[type="submit"]  {

  color: rgb(189, 34, 34);
}
